<!DOCTYPE html>
<html>
<head>
  <title>Carrito de Compras</title>
</head>
<body>
  <h1>Carrito de Compras</h1>
<div id="cart">Cart: 6526aabbfb59b510c4693a00</div>
  {{#if products.length}}
    <table>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
      </tr>
      {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>${{this.price}}</td>
        <td>{{this.quantity}}</td>
        <td>${{this.subtotal}}</td>
        <td>
          <button data-product-id="{{this.id}}" class="remove-from-cart">Eliminar</button>
        </td>
      </tr>
      {{/each}}
    </table>
    <p>Total: ${{total}}</p>
    <button class="checkout">Realizar Compra</button>
    <button id="clearCartButton">Vaciar Carrito</button>
  {{else}}
    <p>El carrito está vacío.</p>
  {{/if}}
  <script src="/js/cart.js"></script>
</body>
</html>

